img {
    max-width: 100%;
    height: auto; 
}



body {
background: linear-gradient(180deg, rgba(102, 2, 60, 1) 0%, rgba(151, 155, 131, 1) 50%, rgba(102, 2, 60, 1) 100%);
    font-family: "iowan-old-style-bt", sans-serif;
font-weight: 400;
font-style: normal;
}

text {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* --------------------------------------------------- RASTER --------------------------------------------------- */ 

/* Grid-Container */
.grid-container {
  display: grid;
  padding: 37.8px;
  gap: 37.8px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Name */
.name { grid-column: 1 / -1; }

/* Paris → Spalte 1 */
.image-Paris-1, .image-Paris-2, .image-Paris-3, 
.image-Paris-4, .image-Paris-5 { grid-column: 1; }

/* Schriftobjekt → Spalte 2 */
.image-Schriftobjekt-1, .image-Schriftobjekt-2, .image-Schriftobjekt-3,
.image-Schriftobjekt-4, .image-Schriftobjekt-5 { grid-column: 2; }

/* Sitzmoebel → Spalte 3 */
.image-Sitzmöbel-1, .image-Sitzmöbel-2, .image-Sitzmöbel-3,
.image-Sitzmöbel-4, .image-Sitzmöbel-5 { grid-column: 3; }

/* Texte in die letzte Zeile */
.text-Paris          { grid-column: 1; grid-row: 8; }
.text-Schriftobjekt  { grid-column: 2; grid-row: 8; }
.text-Sitzmöbel     { grid-column: 3; grid-row: 8; }

/* --------------------------------------------------- ELEMENTE --------------------------------------------------- */ 

.name {
    position: static;
    margin-bottom: 50px;
}

.name h1 {
    text-align: left;
    font-size: 266.667px;
    color: #979B83;
    font-family: "iowan-old-style-bt", sans-serif;
font-weight: 700;
font-style: normal;
line-height: 240px;
}


.text-introduction {
grid-column: 3;
font-size: 24px;
color: #66023C;
}

.name-introduction{
    grid-column: 2;
    font-size: 69.3px;
    text-align: left;
    margin-top: 50px;
    color:#66023C;
}


.name-Paris{
    font-size: 69.3px;
    grid-column: 1;
    color: #979B83;
}

.text-Paris{
    font-size: 24px;
    color: #979B83;
}


.name-Sitzmöbel{
    font-size: 69.3px;
    grid-column: 3;
    color: #979B83;
}

.text-Sitzmöbel{
    font-size: 24px;
    color: #979B83;
}


.name-Schriftobjekt{
    font-size: 69.3px;
    grid-column: 2;
    color: #979B83;
}

.text-Schriftobjekt{
    font-size: 24px;
    color: #979B83;
}
